<div id="content">
    <div id="about">
        <div class="aside">
            <br>
            <h1>About Us</h1>
            <span>Who are we?</span>

            <p>  Hi, our names are Lior and Gal. We are currently third year students in Ben Gurion University - Beer Sheva, Israel where we study B.Sc. in Information Systems Engineering. We created this website as our final assignment in the "Web development environments" course, hope you like it! </p>
            <span>Look at our personal websites</span>
            <p>Each of us created a personal website with some details you may want to know about us. Have a look:  <a href="https://liorb.000webhostapp.com/">Lior's website</a> and <a href="http://galedel.rf.gd">Gal's website</a> Contact us for more details!</p>
            <span>Look at our previous work</span>
            <p>We created a fun, interactive Packman game! You should try playing:  <a href="http://skedge.co.il/pacman/">packman</a> We recommend you to increase the volume for maximum experience.  </p>
        </div>
        <div class="section">

            <div>
                <h3>Difficulties we had while creating this website</h3>
                </br>
                <ol>
                    <li>

                        Pop up a modal dialog when clicking on "more details" - it was difficult to understand how to use the angular's modal service and connect it to our current css.
                    </li>
                    </br>
                    <li>

                        adding vaildation to the registration form and reading the countries xml file
                    </li>
                    </br>
                    <li>

                        adding the local storage service to the app - for the user's cookie
                    </li>
                    </br>
                    <li>

                        dealing with the routing of the different html pages
                    </li>
                </ol>
            </div>
            <div>
                <a class="callus">FOR MORE INFORMATION CALL US <span>1-800-4216243</span></a>
            </div>
        </div>
    </div>
</div>