<div id="content" ng-controller="homeController as homeCtrl">

    <div id="home">
        <div class="home">
        <div >
            <h1 >Hot Products</h1>
            <ul>
                <li ng-repeat="product in homeCtrl.HotProducts">
                    <div>
                        <div>
                            <h2>
                                <a href="../index.html">{{product.cake_name}}</a>
                            </h2>
                            <p>{{product.description}}</p>
                            <a class="openModal" ng-click="homeCtrl.show(product)">more details</a>
                            <a class="openModal" ng-show="homeCtrl.userService.isLoggedIn" ng-click="homeCtrl.addToCart(product)">add to cart</a>
                        </div>
                        <a href="../index.html"><img src={{product.picture_path}} alt="Image" /></a>
                    </div>
                </li>
            </ul>
        </div>
            <div ng-show="homeCtrl.userService.isLoggedIn">
                <h1 >Last Month Products</h1>
                <ul>
                    <li ng-repeat="product in homeCtrl.LastMonthProducts">
                        <div>
                            <div>
                                <h2>
                                    <a href="../index.html">{{product.cake_name}}</a>
                                </h2>
                                <p>{{product.description}}</p>
                                <a class="openModal" ng-click="homeCtrl.show(product)">more details</a>
                                <a class="openModal" ng-show="homeCtrl.userService.isLoggedIn" ng-click="homeCtrl.addToCart(product)">add to cart</a>
                            </div>
                            <a href="../index.html"><img src={{product.picture_path}} alt="Image" /></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>

<!-- modal view -->
<script type="text/ng-template" id="modal.html">
    <div class="overlay" ng-show="display" >
        <table align="center">
            <tr>
                <td> <h1>{{current.cake_name}}</h1> </td>
            </tr>
            <tr>
                <td> <h4>Description:</h4> </td>
                <td> {{current.description}}</td>
            </tr>
            <tr>
                <td> <h4>Price:</h4> </td>
                <td> {{current.price}}</td>
            </tr>
            <tr>
                <td> <h4>Shape:</h4> </td>
                <td> {{current.shape}}</td>
            </tr>
            <tr>
                <td> <h4>Weight: </h4> </td>
                <td> {{current.weight}}</td>
            </tr>
        </table>
        </br>

        <!--<tr>-->
        <!--<td> <img src={{current.picture_path}}></td>-->
        <!--</tr>>-->

        <div style="text-align: center">
            <img src={{current.picture_path}} align="middle">
            </br>
            </br>
            <button ng-click="close()" >Close</button>
        </div>

    </div>
    <div class="fade" ng-show="display" ng-click="close()"></div>
</script>
