<div id="content" >
    <div>
        <div class="home">
            <div class="aside">
                <h1>Welcome to our cakes store!</h1>
                <p>Our bakery and store-front hours are Sunday-Thursday 8:30-6:00pm and Friday's 09:00-14:00. Our phone and order hours are Sunday-Thursday 8:30-4:00pm and Friday's 10:00-2:00pm.</p>
                <p>Whether you are searching for a special birthday cake or simply looking for a sweet ending to an everyday meal, The Cake Shop offers something for everyone. This is a one of a kind bakery, where the aroma of home-style baking weakens even the strongest will.</p>
                <p>
                    The Cake Shop offers a wide variety of freshly baked goods daily; gourmet cookies, fresh apple cake, cheesecake slices, chocolate eclairs, strawberry torte, pound cake, lemon bars, decadent brownies, shortbread, and over 20 flavors of cupcakes that no one can resist.</a>
                </p>

            </div>
            <div class="section">
                <div>
                    <h2>The food story</h2>
                    <p>From morning to evening, we serve delicious, locally-sourced cakes for all flavours requirements, and stage regular events to give people a chance to get together and have fun.
                        Since the very beginning, we have worked passionately to employ staff who share not only our love of tasty, beautiful and great cakes, but also the love of bringing people together.</p>
                </div>
                <ul>
                    <li class="first">
                        <a href="index.html"><img src="../assets/images/cake.jpg" alt="Image" /></a>
                    </li>
                    <li>
                        <a href="index.html"><img src="../assets/images/burgercake.jpg" alt="Image" /></a>
                    </li>
                    <li>
                        <a href="index.html"><img src="../assets/images/cupcake.jpg" alt="Image" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
